<div class="container__content">
    <div class="content__cover">
        <img src="https://www.callofduty.com/content/dam/atvi/infinityward/iw-touchui/news/feature/2022/11/WZ2-S01-DMZ-TACTICS-TOUT.jpg" alt="">
    </div>
    <div class="content__title">
        <h1>Meu Artigo</h1>
    </div>
    <div class="content__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nihil accusantium voluptatem aut expedita nemo ipsa, ad blanditiis obcaecati ea eveniet unde ratione nesciunt! Possimus nesciunt iste praesentium consectetur numquam?</p>
    </div>
</div>
